.carouselControls {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.btn {
  margin: 0 0.5rem;
  width: 40px;
  height: 40px;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #e0e0e0;
}

.arrowLeft {
  transform: rotate(180deg);
}

.arrow {
  width: 16px;
  height: 16px;
  fill: #333;
}
